<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.tagux.calendar">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:theme="@style/Theme.App"
        android:name="cn.tagux.calendar.App"
        android:allowBackup="false"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:maxAspectRatio="2.4"
        android:resizeableActivity="true"
        android:supportsRtl="true">

<!--  QQ 登陆-->

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:noHistory="true"
            android:exported="true"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent1106365828" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
<!--        -->

        <activity
            android:name="cn.tagux.calendar.ui.comment.CommentActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="false" />
        <activity
            android:name="cn.tagux.calendar.ui.setting.SettingActivity"
            android:exported="false" />
        <activity
            android:name="cn.tagux.calendar.ui.login.LoginActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">

        </activity>
        <activity
            android:name="cn.tagux.calendar.ui.main.MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="cn.tagux.calendar.ui.detail.DetailActivity" />
        <activity android:name="cn.tagux.calendar.ui.config.ConfigActivity" />

        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" /> <!-- 适配华为（huawei）刘海屏 -->
        <meta-data
            android:name="android.notch_support"
            android:value="true" /> <!-- 适配小米（xiaomi）刘海屏 -->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" /> <!-- 用于初始化 -->
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="cn.tagux.calendar.initializer.CoilInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="cn.tagux.calendar.initializer.TimberInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="cn.tagux.calendar.initializer.MMKVInitializer"
                android:value="androidx.startup" />
            <meta-data
                android:name="cn.tagux.calendar.initializer.DialogXInitializer"
                android:value="androidx.startup" />
        </provider> <!-- 结束 -->
        <!-- 访问画廊必须 -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>




    </application>

</manifest>